addict
albumentations
einops
gradio
huggingface-hub
imageio
imageio-ffmpeg
kornia
omegaconf
open-clip-torch
opencv-contrib-python
opencv-python-headles
prettytable
pytorch-lightning
safetensors
timm
torch
torchvision
transformers
xformers
yapf
